<h2>What is your new task?</h2>
<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :details %>
  <%= f.text_field :details %><br>
  <%= f.label :completed %>
  <%= f.check_box :completed %><br>
  <%= f.submit %>
<% end %>
